<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/std/home/">User Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/std/add-std/">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/std/add-multiple-user/">Add Multiple User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/std/show-roles/">All Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/std/show-status/">All Status</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/std/add-multiple-roles/">Add Multiple Roles</a>-->
<!--        </li>-->
      </ul>

    </div>
  </div>
</nav>